*,*::before, *::after{
    box-sizing: border-box;
}
*,html,body{
    padding: 0;
    margin: 0;
    font-family:"JetBrains Mono", monospace ;
    background-color: #0d1117;
    color: white;
    overflow-x: hidden;
}
body{
}

header{
display: flex;
justify-content: space-between;
align-items: center;
position: fixed;
z-index: 99;
top: 0;
left: 0;
right: 0;
height: 70px;
border:1px solid darkred;
overflow-y: hidden;
}

header .navbar{
    visibility: hidden;
    border: 1px solid white;
}
header .list-active{
    display: flex;
    flex-direction: column;
    gap: 20px;
    visibility: visible;
    position: fixed;
    z-index: 98;
    top: 70px;
    left: 0;
    right: 0;
}
header .humburger-btn::before{
    content:"\2630";
    font-size: 28px;
}

header .humburger-btn-active::before{
    content:"tes";
}
